---
import Nav from '../../components/Nav.tsx';
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import '@fontsource/vt323';

const posts = await getCollection('newsletter');
---

<Layout title="Newsletter">
  <header>
    <Nav client:load />
  </header>
  <main class="h-screen min-h-screen w-full bg-black text-white overflow-auto">
    <div class="h-screen min-h-screen px-4 flex flex-wrap">
      {posts.map(post => (
        <div key={post.slug} class="w-full md:w-1/2 lg:w-1/3 xl:w-1/3 mb-4 shadow-md flex items-center flex-col pl-2 pr-2 mt-10">
          {post.data.image && (
            <img src={post.data.image} alt={post.data.title} class="w-full h-auto object-cover mb-4" />
          )}
          <h3 class="font-jet font-semibold text-white text-xl mb-2">
            {post.data.title}
          </h3>
          <a class="font-jet font-semibold text-white text-lg mt-4" href={`/letter/${post.slug}`}>
            Click me to Read Full
          </a>
          <div class="w-full h-px bg-gray-400 mt-4"></div> {/* Divider line */}
        </div>
      ))}
    </div>
  </main>
</Layout>
